nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .nav-link {
    position: relative;
    display: block;
    font-size: 1.25rem;
    border: 2px solid #bdff40;
    border-radius: 2.5rem;
    padding: 0.5rem 1rem 0.5rem 4rem;
    text-decoration: none;
    text-align: end;
    overflow: hidden;
  }

  .nav-text {
    position: relative;
    z-index: 2;
    color: #fff;
    transition: color 0.2s linear;
  }

  .fill {
    position: absolute;
    inset: 0;
    background-color: #bdff40;
    z-index: 1;
    transform-origin: left;
    transform: scaleX(0);
  }
}
