.gallery-container {
  padding-top: 8vh;
  height: 100vh;

  display: flex;
  align-items: center;
}

.gallery-frame:first-child {
  margin-left: 2vw;
}

.gallery-frame {
  margin-right: 50px;
}

img {
  filter: grayscale(90%);
}
