.gallery-container {
  // border: yellow 2px solid;
  height: 100dvh;
  width: 100%;
  display: flex;
}

.gallery-frame {
  // border: 2px solid red;
  background-image: linear-gradient(#060606 20%, #242424, #060606);
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  flex-shrink: 0;

  transform-origin: center center;
  will-change: transform;

  h3 {
    padding-top: 10vh;
    font-size: 3rem;
    font-weight: 400;

    span {
      background-color: #bdff40;
      padding: 0 1rem;
      color: #060606;
    }
  }
}

img {
  filter: grayscale(90%);
  width: clamp(280px, 70vw, 700px);
  height: auto;
  display: block;
}
