.gallery-container {
  // border: yellow 2px solid;
  height: 100dvh;
  width: 100%;
  display: flex;
  gap: 8rem;
}

.gallery-frame {
  // border: 2px solid red;
  width: 100%;
  display: grid;
  place-items: center;
  align-content: start;
  flex-shrink: 0;

  h3 {
    font-size: 3rem;
    font-weight: 400;

    span {
      background-color: #bdff40;
      padding: 0 1rem;
      color: #060606;
    }
  }
}

img {
  filter: grayscale(90%);
  width: clamp(280px, 70vw, 700px);
  height: auto;
  display: block;
  position: absolute;
  top: calc(50% - height/2);
}
