* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343239;
}

#navBar {
    background-color: #343239;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navBar a {
    text-decoration: none;
    color: #00ccff;
    background-color: transparent;
    padding: .25em 1em;
    border-radius: .5em;
    border: .1em solid #00ccff;

    transition: box-shadow .3s, text-shadow .3s;
}

#navBar a:hover {
    box-shadow: 0 0 15px #00ccff inset, 0 0 30px #00ccff, 0 0 45px #00ccff;
    text-shadow: 0 0 .5em #00ccff;
}
