* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    min-height: 100%;
    background-image: url('/assets/img/bg-sm.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 916px) {
  html {
    background-image: url('/assets/img/bg-md.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1201px) {
  html {
    background-image: url('/assets/img/bg-lg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1921px) {
  html {
    background-image: url('/assets/img/bg-xl.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

body {
    font-family: 'DM Sans', Arial, sans-serif;
}

header {
    width: 100%;
}

#navBar {
    background-color: black;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navBar a {
    text-decoration: none;
    color: snow;
    background-color: transparent;
    padding: .25em 1em;
    border-radius: .5em;

    transition: box-shadow .3s, text-shadow .3s, border .3s;
    position: relative;
}

#navBar a:hover:after {
    content: attr(data-text);
    display: block;
    color: snow;
    position: absolute;
    top: 70%;

    height: 25px;
    width: 100%;
    transform: scaleY(-1) perspective(2em) rotateX(-40deg) scale(1, .9);
    filter: blur(.09em);
}

#navBar a:hover {
    /* box-shadow: 0 0 15px snow inset, 0 0 30px snow, 0 0 45px snow; */
    text-shadow: 0 0 .5em snow, 0 0 .75em snow, 0 0 1em snow;
}

.home-main {
    padding: 128px 32px;
    min-height: 92vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-main > * {
    min-width: 0;
}

.img-container {
    /* border: 2px solid blue; */
    font-family: 'Permanent Marker', 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* position: sticky;
    top: 64px; */
    height: fit-content;
    flex: 0 1 auto;
}

.img-container h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 0;
    color: snow;
    text-align: center;
    /* border: 2px solid red; */
}

.img-container p {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
    /* border: 2px solid red; */
}

.img-container img {
    max-width: 300px;
    border-radius: 64px;
    border: 1px solid #e5e7eb33;
    /* border: 2px solid red; */
}

.about-container {
    height: fit-content;
    flex: 1 1 520px;
    max-width: 500px;
    background-color: #00000066;
    padding: 16px 32px;
    border-radius: 16px;
    border: 1px solid #e5e7eb33;
    backdrop-filter: blur(4px);
}

@media (max-width: 1075px) {
  .about-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.about-container p {
    line-height: 1.625;
    /* letter-spacing: .5px; */
}

.about-container a {
    color: #BBA14F;
    text-decoration: none;
}

.about-container a:hover {
    color: #e9d184;
}

h2 {
    color: black;
    background-image: linear-gradient(to right, snow 30%, transparent 90%);
    border-radius: 16px 0 0 16px;
    padding-left: 16px;
    /* text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black; */
    /* border: 2px solid green; */
}

.oddHeading {
    text-align: end;
    background-image: linear-gradient(to left, snow 30%, transparent 90%);
    border-radius: 0 16px 16px 0;
    padding-right: 16px;
}

h3 {
    color:snow;
    text-decoration: underline;
    text-decoration-color: #BBA14F;
    text-align: center;
}

.projects-main {
    display: flex;
    flex-wrap: wrap;
}

.projects-main a {
    background-image: linear-gradient(#BBA14F, #e9d184, #BBA14F);
    text-decoration: none;
    color: #000000;
    padding: 8px 16px;
    border: .0125em solid snow;
    border-radius: 16px;
    box-shadow: 0 0 4px snow, 0 0 8px snow;
    display: flex;
    justify-content: center;
    width: fit-content;

    transition: box-shadow 500ms;
}

.project-main a:hover {
    box-shadow: 0 0 1px snow, 0 0 4px snow, 0 0 8px snow, 0 0 16px snow;
}

#basicsContainer {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    padding: 2vw;
}

#gamesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    padding: 2vw;
    margin-left: auto;
}

p {
    color: snow;
}

#projectContainer {
    /* border: 2px solid red; */
    background-color: #00000099;
    padding: 0 8px;
    border-radius: 16px;
    border: 1px solid #e5e7eb33;
    backdrop-filter: blur(2px);
    padding: 0 8px 24px 16px;
    margin-bottom: 16px;
}