.home-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  top: -64dvh;

  padding: 0 4%;
}

#aboutApp {
  opacity: 0;
  margin-bottom: 10vh;
}
#expApp {
  position: relative;
  top: -25dvh;
  opacity: 0;
  margin-bottom: 10vh;
}
#contactApp {
  position: relative;
  top: -25dvh;
  opacity: 0;
  margin-bottom: 10vh;
}
