.horizontal-scroll-container {
  display: flex;
  overflow-x: hidden;
  position: relative;
  top: -50vh;
}

#aboutApp,
#galleryApp {
  // border: 2px solid red;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

#aboutApp {
  opacity: 0;
}
