.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // top: -64dvh;

  padding: 0 4vw;
}

#navApp {
  display: none;
  max-height: 0;
  opacity: 0;
}

#aboutApp {
  opacity: 0;
  margin-bottom: 10vh;
}

#galleryApp {
  align-self: flex-start;
  width: 100%;
}

#expApp {
  position: relative;
  top: -5dvh;
  opacity: 0;
  margin-bottom: 10vh;
}
#contactApp {
  position: relative;
  top: -5dvh;
  opacity: 0;
  margin-bottom: 10vh;
}

@media (min-width: 900px) {
  .home-container {
    padding-left: clamp(240px, 25vw, 320px);
  }

  #navApp {
    display: block;
    position: fixed;
    left: 4%;
    top: 25%;
    transform: translateY(-25%);
    height: auto;
    max-height: 80vh;
    overflow: visible;
    z-index: 10;
  }
}
