.exp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: 'Manufacturing Consent', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  margin-left: 5%;
  margin-right: auto;

  span {
    font-size: 4rem;
  }

  &::after {
    content: '';
    display: block;
    width: 112%;
    height: 4px;
    background-color: #bdff40;
    transform: skew(-40deg);

    position: relative;
    left: -8px;
    top: -8px;
  }
}

.exp-section {
  background-color: #242424;
  font-size: 1.2rem;
  top: -64vh;
  width: fit-content;
  padding: 8px 24px;

  a {
    text-decoration: none;
    color: #bdff40;

    transition: all 400ms;

    .svg-icon {
      fill: #bdff40;

      transition: all 800ms;
    }
  }

  a:hover {
    color: red;

    .svg-icon {
      fill: red;
    }
  }
}
