.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

h2 {
  font-family: 'Manufacturing Consent', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  margin-left: 5%;
  margin-right: auto;

  span {
    font-size: 4rem;
  }

  &::after {
    content: '';
    display: block;
    width: 112%;
    height: 4px;
    background-color: #bdff40;
    transform: skew(-40deg);

    position: relative;
    left: -8px;
    top: -8px;
  }
}

.contact-section {
  background-color: #242424;
  // text-align: center;
  font-size: 1.2rem;
  top: -64vh;
  width: fit-content;
  padding: 8px 24px;
}

input,
textarea {
  font: inherit;
  color: inherit;
  background-color: #414141;
  border: 0 solid #55731d;
}

form {
  display: grid;
  gap: 1rem;
}

.error {
  visibility: hidden;
  color: #c0392b;
  font-size: 0.9rem;
}

input:invalid:not(:focus):not(:placeholder-shown) ~ .error,
textarea:invalid:not(:focus):not(:placeholder-shown) ~ .error {
  visibility: visible;
}

input:invalid:not(:focus):not(:placeholder-shown),
textarea:invalid:not(:focus):not(:placeholder-shown) {
  box-shadow: inset 0 0 0 1px #c0392b;
}

.form-group {
  display: grid;
}

label {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 4px;
}

input {
  width: 100%;
}

.submit {
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: #bdff40;
  color: #060606;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  border: none;
}

form:invalid .submit {
  background-color: #414141;
  cursor: not-allowed;
}

.btn-text {
  font-size: 1.5rem;
  white-space: nowrap;
  display: block;
  position: relative;
}

form:invalid .btn-text:before {
  content: none;
}

.btn-text::before {
  content: '';

  position: absolute;
  width: calc(100% + 2rem);
  height: 1px;
  background: #060606;
  top: 90%;
  left: -1rem;
  pointer-events: none;

  transform: scale3d(0, 1, 1);
  transition: transform 0.4s;
}

.submit:hover .btn-text::before {
  transform-origin: 50% 100%;
  transform: scale3d(1, 1, 1);
}
